force-app/main/default/flows/Counterpoint_CSV_Import.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Screen Flow launched from the Import Counterpoint Data quick action on Advertising_Opportunity__c. Presents the counterpointFileUpload LWC for date-type selection and file upload, then shows a summary or error screen based on the import outcome.</description>
    <interviewLabel>Counterpoint CSV Import {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Counterpoint CSV Import</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <status>Active</status>

    <!-- ── Variables ─────────────────────────────────────────────────── -->

    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Advertising_Opportunity__c Id passed in by the quick action.</description>
    </variables>

    <variables>
        <name>varUploadSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>varImportBatchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>varTotalRows</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>varValidRows</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>varInvalidRows</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- ── Start ──────────────────────────────────────────────────────── -->

    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Upload_Screen</targetReference>
        </connector>
    </start>

    <!-- ── Decision: did upload succeed? ─────────────────────────────── -->

    <decisions>
        <name>Check_Upload_Success</name>
        <label>Import Successful?</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Import_Succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUploadSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <!-- ── Screen 1: Upload ───────────────────────────────────────────── -->

    <!-- ── Decision: did upload succeed? ─────────────────────────────── -->

    <decisions>
        <name>Check_Upload_Success</name>
        <label>Import Successful?</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Import_Succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUploadSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>

    <!-- ── Screen 2a: Success ─────────────────────────────────────────── -->

    <!-- ── Screen 2b: Error ───────────────────────────────────────────── -->

    <!-- ── Screen 2c: Uncaught system fault ──────────────────────────── -->


    <screens>
        <name>Upload_Screen</name>
        <label>Import Counterpoint Data</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Upload_Success</targetReference>
        </connector>
        <fields>
            <name>cpUpload</name>
            <extensionName>c:counterpointFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <outputParameters>
                <assignToReference>varUploadSuccess</assignToReference>
                <name>uploadSuccess</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varImportBatchId</assignToReference>
                <name>importBatchId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varTotalRows</assignToReference>
                <name>totalRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varValidRows</assignToReference>
                <name>validRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varInvalidRows</assignToReference>
                <name>invalidRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varErrorMessage</assignToReference>
                <name>errorMessage</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <!-- ── Screen 2a: Success ─────────────────────────────────────────── -->

    <screens>
        <name>Success_Screen</name>
        <label>Import Complete</label>
        <locationX>48</locationX>
        <locationY>408</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Import queued successfully.&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;Valid rows are being promoted to Actuals Records in the background. Refresh the Actuals Records related list in a moment to see them.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Success_Stats</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Batch ID:&lt;/strong&gt; {!varImportBatchId}&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Total rows:&lt;/strong&gt; {!varTotalRows}&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Valid (queued):&lt;/strong&gt; {!varValidRows}&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Invalid / Duplicate:&lt;/strong&gt; {!varInvalidRows}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>Error_Screen</name>
        <label>Import Error</label>
        <locationX>304</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The import could not be completed.&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;{!varErrorMessage}&lt;/p&gt;
&lt;p&gt;Click Back to try uploading the file again, or close this window and contact your system administrator if the problem persists.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>System_Error_Screen</name>
        <label>System Error</label>
        <locationX>440</locationX>
        <locationY>288</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SysError_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;An unexpected system error occurred.&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;
&lt;p&gt;Please contact your Salesforce administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

</Flow>
