force-app/main/default/flows/Create_Agency_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Screen Flow for creating an Agency account. Collects agency name, parent HoldCo, website, and phone. Launched from the New Agency global quick action. The parent must be a HoldCo account — the validation rule on Account enforces this.</description>
    <interviewLabel>Create Agency Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Agency Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <status>Active</status>

    <!-- ═══════════════════════════ VARIABLES ═══════════════════════════════ -->

    <variables>
        <name>var_newAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>

    <variables>
        <name>var_holdCoParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>var_agencyRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>

    <!-- ═══════════════════════════ FLOW ELEMENTS ════════════════════════════ -->

    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Agency_RT</targetReference>
        </connector>
    </start>

    <!-- 1. Look up the Agency record type ID -->
    <recordLookups>
        <name>Get_Agency_RT</name>
        <label>Get Agency Record Type</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <connector>
            <targetReference>Screen_AgencyDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <outputReference>var_agencyRT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordLookups>

    <!-- 3. Create the Agency account -->
    <recordCreates>
        <name>Create_AgencyAccount</name>
        <label>Create Agency Account</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <assignRecordIdToReference>var_newAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fi_AgencyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_agencyRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_holdCoParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>fi_Website</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>fi_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>



    <!-- 2. Screen: collect agency details -->
    <screens>
        <name>Screen_AgencyDetails</name>
        <label>Agency Details</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_AgencyAccount</targetReference>
        </connector>
        <fields>
            <name>fi_HoldCoGuidance</name>
            <fieldText>&lt;p&gt;Agency accounts must be linked to a &lt;strong&gt;HoldCo&lt;/strong&gt; parent account. Use the Parent HoldCo field below to search for the holding company that owns this agency.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fi_AgencyName</name>
            <dataType>String</dataType>
            <fieldText>Agency Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fi_ParentHoldCo</name>
            <extensionName>flowruntime:lookupField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ParentId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Parent HoldCo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_holdCoParentId</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>fi_Website</name>
            <dataType>String</dataType>
            <fieldText>Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fi_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>


    <!-- 4. Success screen -->
    <screens>
        <name>Screen_Success</name>
        <label>Agency Created</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>fi_SuccessMessage</name>
            <fieldText>&lt;p&gt;Agency account &lt;strong&gt;{!fi_AgencyName}&lt;/strong&gt; was created successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

</Flow>
