force-app/main/default/flows/Log_Sales_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Quick-action Screen Flow to log a sales activity (call, meeting, email, presentation) against an Advertising Opportunity. Creates a completed Task record linked to the opportunity and account.</description>
    <label>Log Sales Activity</label>
    <processType>Flow</processType>
    <status>Active</status>

    <!-- ═══════════════════════════════════════════
         VARIABLES
    ═══════════════════════════════════════════ -->
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>ID of the Advertising Opportunity this activity is logged against.</description>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Advertising_Opportunity__c</objectType>
    </variables>

    <!-- ═══════════════════════════════════════════
         CHOICES — Activity Type
    ═══════════════════════════════════════════ -->
    <choices>
        <name>choice_Call</name>
        <choiceText>Phone Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Meeting</name>
        <choiceText>In-Person Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meeting</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Presentation</name>
        <choiceText>Presentation / Demo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Presentation</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Proposal</name>
        <choiceText>Proposal Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proposal</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>

    <!-- ═══════════════════════════════════════════
         CHOICES — Outcome
    ═══════════════════════════════════════════ -->
    <choices>
        <name>choice_Positive</name>
        <choiceText>Positive — advancing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Positive</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Neutral</name>
        <choiceText>Neutral — follow-up needed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Negative</name>
        <choiceText>Negative — at risk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Negative</stringValue>
        </value>
    </choices>

    <!-- ═══════════════════════════════════════════
         FORMULAS
    ═══════════════════════════════════════════ -->
    <formulas>
        <name>formula_TaskSubject</name>
        <dataType>String</dataType>
        <expression>{!screen_LogActivity.input_ActivityType} + ": " + {!varOpportunity.Name}</expression>
    </formulas>
    <formulas>
        <name>formula_TaskDescription</name>
        <dataType>String</dataType>
        <expression>"Outcome: " + {!screen_LogActivity.input_Outcome} + "\n\n" + {!screen_LogActivity.input_Notes} + IF(NOT(ISBLANK({!screen_LogActivity.input_NextStep})), "\n\nNext Step: " + {!screen_LogActivity.input_NextStep}, "")</expression>
    </formulas>

    <!-- ═══════════════════════════════════════════
         START → LOAD OPPORTUNITY
    ═══════════════════════════════════════════ -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>lookup_Opportunity</targetReference>
        </connector>
    </start>

    <recordLookups>
        <name>lookup_Opportunity</name>
        <label>Get Opportunity Details</label>
        <locationX>264</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_LogActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Advertising_Opportunity__c</object>
        <outputReference>varOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>

    <!-- ═══════════════════════════════════════════
         SCREEN — Log Activity
    ═══════════════════════════════════════════ -->
    <screens>
        <name>screen_LogActivity</name>
        <label>Log Sales Activity</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_Task</targetReference>
        </connector>
        <fields>
            <name>display_ActivityHeader</name>
            <fieldText>&lt;p&gt;Logging activity for: &lt;strong&gt;{!varOpportunity.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_ActivityType</name>
            <choiceReferences>choice_Call</choiceReferences>
            <choiceReferences>choice_Meeting</choiceReferences>
            <choiceReferences>choice_Email</choiceReferences>
            <choiceReferences>choice_Presentation</choiceReferences>
            <choiceReferences>choice_Proposal</choiceReferences>
            <choiceReferences>choice_Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_Call</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <label>Activity Type</label>
        </fields>
        <fields>
            <name>input_ActivityDate</name>
            <dataType>Date</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <label>Activity Date</label>
        </fields>
        <fields>
            <name>input_ContactId</name>
            <extensionName>flowruntime:lookupField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Task.WhoId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varOpportunity.Primary_Contact__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <outputParameters>
                <assignToReference>varContactId</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>input_Outcome</name>
            <choiceReferences>choice_Positive</choiceReferences>
            <choiceReferences>choice_Neutral</choiceReferences>
            <choiceReferences>choice_Negative</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_Neutral</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <label>Outcome</label>
        </fields>
        <fields>
            <name>input_Notes</name>
            <dataType>String</dataType>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <label>Activity Notes</label>
        </fields>
        <fields>
            <name>input_NextStep</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <label>Next Step</label>
        </fields>
    </screens>

    <!-- ═══════════════════════════════════════════
         RECORD CREATE — Task
    ═══════════════════════════════════════════ -->
    <recordCreates>
        <name>create_Task</name>
        <label>Create Task</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>decision_HasNextStep</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formula_TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>formula_TaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>screen_LogActivity.input_ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>screen_LogActivity.input_ActivityType</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>

    <!-- ═══════════════════════════════════════════
         DECISION — Update Next Step on opportunity?
    ═══════════════════════════════════════════ -->
    <decisions>
        <name>decision_HasNextStep</name>
        <label>Has Next Step?</label>
        <locationX>264</locationX>
        <locationY>798</locationY>
        <defaultConnector>
            <targetReference>screen_ActivityLogged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Next Step</defaultConnectorLabel>
        <rules>
            <name>outcome_HasNextStep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screen_LogActivity.input_NextStep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_OpportunityNextStep</targetReference>
            </connector>
            <label>Has Next Step</label>
        </rules>
    </decisions>

    <!-- ═══════════════════════════════════════════
         RECORD UPDATE — Write next step to opportunity
    ═══════════════════════════════════════════ -->
    <recordUpdates>
        <name>update_OpportunityNextStep</name>
        <label>Update Opportunity Next Step</label>
        <locationX>264</locationX>
        <locationY>958</locationY>
        <connector>
            <targetReference>screen_ActivityLogged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>screen_LogActivity.input_NextStep</elementReference>
            </value>
        </inputAssignments>
        <object>Advertising_Opportunity__c</object>
    </recordUpdates>

    <!-- ═══════════════════════════════════════════
         CONFIRMATION SCREEN
    ═══════════════════════════════════════════ -->
    <screens>
        <name>screen_ActivityLogged</name>
        <label>Activity Logged</label>
        <locationX>264</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ActivityLoggedMsg</name>
            <fieldText>&lt;p&gt;Activity logged successfully. The {!screen_LogActivity.input_ActivityType} on {!screen_LogActivity.input_ActivityDate} has been recorded.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>

    <!-- ═══════════════════════════════════════════
         ADDITIONAL VARIABLES
    ═══════════════════════════════════════════ -->
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
