force-app/main/default/flows/Makegood_Or_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Screen Flow Quick Action on Advertising_Contract__c. Collects a make-good or cancellation request, validates the notice period, computes the cancellation fee from Cancellation_Policy__c, updates the contract, and emails the Contract_Approvers queue.</description>
    <interviewLabel>Makegood Or Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Make-Good or Cancellation Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <status>Active</status>

    <!-- ═══════════════════════════ VARIABLES ═══════════════════════════════ -->

    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>varResultSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>

    <variables>
        <name>varResultErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>varResultNoticePeriodMet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>

    <variables>
        <name>varResultCancellationFeeAmount</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- ═══════════════════════════ FORMULAS ════════════════════════════════ -->

    <formulas>
        <name>fmla_NoticePeriodText</name>
        <dataType>String</dataType>
        <expression>IF({!varResultNoticePeriodMet}, "Yes — no cancellation fee applies.", "No — cancellation fee has been recorded.")</expression>
    </formulas>

    <!-- ═══════════════════════════ CHOICES ═════════════════════════════════ -->

    <choices>
        <name>Choice_MakeGood</name>
        <choiceText>Make Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Make Good</stringValue>
        </value>
    </choices>

    <choices>
        <name>Choice_Cancellation</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </choices>

    <!-- ═══════════════════════════ FLOW ELEMENTS ════════════════════════════ -->

    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Screen_RequestDetails</targetReference>
        </connector>
    </start>

    <!-- 2. Apex action: CancellationPolicyService.process() -->
    <actionCalls>
        <name>Action_ProcessRequest</name>
        <label>Process Make Good Or Cancellation</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <actionName>CancellationPolicyService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_IsSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_SystemError</targetReference>
        </faultConnector>
        <inputParameters>
            <name>contractId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reason</name>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestedCreditAmount</name>
            <value>
                <elementReference>RequestedCreditAmount</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varResultSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varResultErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varResultNoticePeriodMet</assignToReference>
            <name>noticePeriodMet</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varResultCancellationFeeAmount</assignToReference>
            <name>cancellationFeeAmount</name>
        </outputParameters>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </actionCalls>

    <!-- 3. Decision: did the Apex return success? -->
    <decisions>
        <name>Decision_IsSuccess</name>
        <label>Request Succeeded?</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Screen_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Outcome_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varResultSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_RequestType</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>

    <!-- 4. Decision: make good or cancellation? (to show the right success screen) -->
    <decisions>
        <name>Decision_RequestType</name>
        <label>Request Type?</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Screen_CancellationSuccess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancellation</defaultConnectorLabel>
        <rules>
            <name>Outcome_MakeGood</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Make Good</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_MakeGoodSuccess</targetReference>
            </connector>
            <label>Make Good</label>
        </rules>
    </decisions>

    <!-- 1. Screen: collect request type, reason, and optional credit amount -->
    <screens>
        <name>Screen_RequestDetails</name>
        <label>Request Details</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action_ProcessRequest</targetReference>
        </connector>
        <fields>
            <name>Intro_Text</name>
            <fieldText>&lt;p&gt;Use this form to submit a &lt;strong&gt;Make-Good&lt;/strong&gt; (add credit to the contract) or a &lt;strong&gt;Cancellation&lt;/strong&gt; request. The Contract Approvers team will be notified automatically.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequestType</name>
            <choiceReferences>Choice_MakeGood</choiceReferences>
            <choiceReferences>Choice_Cancellation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason</name>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Describe the reason for this make-good or cancellation request.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RequestedCreditAmount</name>
            <dataType>Currency</dataType>
            <fieldText>Requested Credit Amount</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>For Make-Good: the credit amount to add. For Cancellations, the fee is computed automatically from the contract policy.</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <!-- 5a. Screen: Make-Good success -->
    <screens>
        <name>Screen_MakeGoodSuccess</name>
        <label>Make-Good Applied</label>
        <locationX>44</locationX>
        <locationY>648</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_MakeGoodSuccess</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Make-Good request submitted successfully.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;A make-good credit of {!RequestedCreditAmount} has been added to this contract. The Contract Approvers team has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>


    <!-- 5b. Screen: Cancellation success -->
    <screens>
        <name>Screen_CancellationSuccess</name>
        <label>Cancellation Processed</label>
        <locationX>308</locationX>
        <locationY>648</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_CancellationSuccess</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Cancellation request processed.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;This contract has been set to &lt;strong&gt;Cancelled&lt;/strong&gt; status.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Notice Period Met: {!fmla_NoticePeriodText}&lt;/li&gt;&lt;li&gt;Cancellation Fee: {!varResultCancellationFeeAmount}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;The Contract Approvers team has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>


    <!-- 6. Screen: business-logic error (e.g. Non-Cancellable) -->
    <screens>
        <name>Screen_Error</name>
        <label>Unable to Process Request</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Error</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This request could not be processed.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varResultErrorMessage}&lt;/p&gt;&lt;p&gt;Please contact Sales Operations if you need assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>


    <!-- 7. Screen: uncaught Apex fault -->
    <screens>
        <name>Screen_SystemError</name>
        <label>System Error</label>
        <locationX>572</locationX>
        <locationY>408</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_SystemError</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;An unexpected system error occurred.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;Please contact your Salesforce administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

</Flow>
