force-app/main/default/flows/New_Advertising_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Guided 3-screen flow for reps to create a new Advertising Opportunity. Walks through account/buy type, opportunity details, and campaign timeline. Defaults Status to Prospecting.</description>
    <label>New Advertising Opportunity</label>
    <processType>Flow</processType>
    <status>Active</status>

    <!-- ═══════════════════════════════════════════
         VARIABLES
    ═══════════════════════════════════════════ -->
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Optional: pre-populated when launched from an Account record.</description>
    </variables>
    <variables>
        <name>varCreatedOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>

    <!-- ═══════════════════════════════════════════
         DYNAMIC CHOICE SETS
    ═══════════════════════════════════════════ -->
    <dynamicChoiceSets>
        <name>dcs_Status</name>
        <dataType>Picklist</dataType>
        <displayField>label</displayField>
        <object>Advertising_Opportunity__c</object>
        <picklistField>Status__c</picklistField>
        <picklistObjectAndField>Advertising_Opportunity__c.Status__c</picklistObjectAndField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dcs_MediaType</name>
        <dataType>Picklist</dataType>
        <displayField>label</displayField>
        <object>Advertising_Opportunity__c</object>
        <picklistField>Media_Type__c</picklistField>
        <picklistObjectAndField>Advertising_Opportunity__c.Media_Type__c</picklistObjectAndField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dcs_LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField>label</displayField>
        <object>Advertising_Opportunity__c</object>
        <picklistField>Lead_Source__c</picklistField>
        <picklistObjectAndField>Advertising_Opportunity__c.Lead_Source__c</picklistObjectAndField>
    </dynamicChoiceSets>

    <!-- ═══════════════════════════════════════════
         CHOICES
    ═══════════════════════════════════════════ -->
    <choices>
        <name>choice_DirectBuy</name>
        <choiceText>Direct Buy — placed directly with Univision</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Buy</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_AgencyBuy</name>
        <choiceText>Agency Buy — placed through an advertising agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agency Buy</stringValue>
        </value>
    </choices>

    <!-- ═══════════════════════════════════════════
         FORMULAS
    ═══════════════════════════════════════════ -->
    <formulas>
        <name>formula_DirectBuyRecordTypeId</name>
        <dataType>String</dataType>
        <expression>$ObjectType.Advertising_Opportunity__c.RecordTypeInfos.Direct_Buy.RecordTypeId</expression>
    </formulas>
    <formulas>
        <name>formula_AgencyBuyRecordTypeId</name>
        <dataType>String</dataType>
        <expression>$ObjectType.Advertising_Opportunity__c.RecordTypeInfos.Agency_Buy.RecordTypeId</expression>
    </formulas>
    <formulas>
        <name>formula_RecordTypeId</name>
        <dataType>String</dataType>
        <expression>IF({!screen_AccountType.input_BuyType} = "Direct Buy", {!formula_DirectBuyRecordTypeId}, {!formula_AgencyBuyRecordTypeId})</expression>
    </formulas>

    <!-- ═══════════════════════════════════════════
         START
    ═══════════════════════════════════════════ -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_AccountType</targetReference>
        </connector>
    </start>

    <!-- ═══════════════════════════════════════════
         SCREEN 1 — Account & Buy Type
    ═══════════════════════════════════════════ -->
    <screens>
        <name>screen_AccountType</name>
        <label>Account &amp; Buy Type</label>
        <locationX>264</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen_OpportunityDetails</targetReference>
        </connector>
        <fields>
            <name>display_Step1Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Step 1 of 3 — Account &amp;amp; Buy Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Select the advertiser account and how this buy is placed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_AccountId</name>
            <extensionName>flowruntime:lookupField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Advertising_Opportunity__c.Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Advertiser Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varAccountId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varAccountId</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>input_BuyType</name>
            <choiceReferences>choice_DirectBuy</choiceReferences>
            <choiceReferences>choice_AgencyBuy</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_DirectBuy</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <label>Buy Type</label>
        </fields>
        <fields>
            <name>input_AgencyAccountId</name>
            <extensionName>flowruntime:lookupField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Advertising_Opportunity__c.Agency_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Agency Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>screen_AccountType.input_BuyType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Agency Buy</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
            <outputParameters>
                <assignToReference>varAgencyAccountId</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
    </screens>

    <!-- ═══════════════════════════════════════════
         SCREEN 2 — Opportunity Details
    ═══════════════════════════════════════════ -->
    <screens>
        <name>screen_OpportunityDetails</name>
        <label>Opportunity Details</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen_Timeline</targetReference>
        </connector>
        <fields>
            <name>display_Step2Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Step 2 of 3 — Opportunity Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Describe what you&apos;re selling and how this opportunity was identified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_OpportunityName</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <label>Opportunity Name</label>
        </fields>
        <fields>
            <name>input_MediaType</name>
            <choiceReferences>dcs_MediaType</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <label>Media Type</label>
        </fields>
        <fields>
            <name>input_Market</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <label>Market / DMA</label>
        </fields>
        <fields>
            <name>input_PrimaryContactId</name>
            <extensionName>flowruntime:lookupField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Advertising_Opportunity__c.Primary_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <outputParameters>
                <assignToReference>varPrimaryContactId</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>input_EstimatedRevenue</name>
            <dataType>Currency</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <label>Estimated Revenue</label>
        </fields>
        <fields>
            <name>input_LeadSource</name>
            <choiceReferences>dcs_LeadSource</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <label>Lead Source</label>
        </fields>
        <fields>
            <name>input_Description</name>
            <dataType>String</dataType>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <label>Description / Notes</label>
        </fields>
    </screens>

    <!-- ═══════════════════════════════════════════
         SCREEN 3 — Campaign Timeline
    ═══════════════════════════════════════════ -->
    <screens>
        <name>screen_Timeline</name>
        <label>Campaign Timeline</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>display_Step3Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Step 3 of 3 — Campaign Timeline&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Set the expected close date and campaign flight dates.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input_CloseDate</name>
            <dataType>Date</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <label>Expected Close Date</label>
        </fields>
        <fields>
            <name>input_StartDate</name>
            <dataType>Date</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <label>Campaign Start Date</label>
        </fields>
        <fields>
            <name>input_EndDate</name>
            <dataType>Date</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <label>Campaign End Date</label>
        </fields>
        <fields>
            <name>input_FiscalYear</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <label>Fiscal Year (e.g. FY2025-26)</label>
        </fields>
        <fields>
            <name>input_Competition</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <label>Competition (competing stations or media)</label>
        </fields>
        <fields>
            <name>input_NextStep</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <label>Next Step</label>
        </fields>
    </screens>

    <!-- ═══════════════════════════════════════════
         RECORD CREATE
    ═══════════════════════════════════════════ -->
    <recordCreates>
        <name>create_Opportunity</name>
        <label>Create Advertising Opportunity</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>varCreatedOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>screen_Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>screen_OpportunityDetails.input_OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formula_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency_Account__c</field>
            <value>
                <elementReference>varAgencyAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>varPrimaryContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Type__c</field>
            <value>
                <elementReference>screen_OpportunityDetails.input_MediaType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>screen_OpportunityDetails.input_Market</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Revenue__c</field>
            <value>
                <elementReference>screen_OpportunityDetails.input_EstimatedRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>screen_OpportunityDetails.input_LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>screen_OpportunityDetails.input_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Close_Date__c</field>
            <value>
                <elementReference>screen_Timeline.input_CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>screen_Timeline.input_StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>screen_Timeline.input_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fiscal_Year__c</field>
            <value>
                <elementReference>screen_Timeline.input_FiscalYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competition__c</field>
            <value>
                <elementReference>screen_Timeline.input_Competition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>screen_Timeline.input_NextStep</elementReference>
            </value>
        </inputAssignments>
        <object>Advertising_Opportunity__c</object>
    </recordCreates>

    <!-- ═══════════════════════════════════════════
         CONFIRMATION SCREEN
    ═══════════════════════════════════════════ -->
    <screens>
        <name>screen_Confirmation</name>
        <label>Opportunity Created</label>
        <locationX>264</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_ConfirmationMsg</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Opportunity created successfully.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Your opportunity &lt;strong&gt;{!screen_OpportunityDetails.input_OpportunityName}&lt;/strong&gt; has been created with a status of &lt;em&gt;Prospecting&lt;/em&gt;. You can now add budget lines, log activities, and advance the stage from the opportunity record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>

    <!-- ═══════════════════════════════════════════
         ADDITIONAL VARIABLES (used in input assignments)
    ═══════════════════════════════════════════ -->
    <variables>
        <name>varAgencyAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrimaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
