force-app/main/default/flows/Promote_Opportunity_to_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Creates an Advertising Contract from an approved Advertising Opportunity. Guards against non-Approved status and duplicate active contracts. Pre-populates all proposal data, collects signatory and terms details, then submits the contract for approval.</description>
    <interviewLabel>Promote Opportunity to Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Promote Opportunity to Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- ═══════════════════════════════════════════
         VARIABLES
    ═══════════════════════════════════════════ -->

    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSignatoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSignatoryTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSignatoryEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCancellationPolicy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCancellationNoticeDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCancellationFeePercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varMakeGoodPolicy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMakeGoodCredits</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- ═══════════════════════════════════════════
         CHOICES (Cancellation Policy dropdown)
    ═══════════════════════════════════════════ -->

    <choices>
        <name>choiceStandard30</name>
        <choiceText>Standard 30-Day Notice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard 30-Day</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceStandard60</name>
        <choiceText>Standard 60-Day Notice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard 60-Day</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNonCancellable</name>
        <choiceText>Non-Cancellable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Cancellable</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCustom</name>
        <choiceText>Custom Terms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Custom</stringValue>
        </value>
    </choices>

    <!-- ═══════════════════════════════════════════
         ELEMENT 1 — Get Opportunity
    ═══════════════════════════════════════════ -->

    <recordLookups>
        <name>getOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionIsApproved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- ═══════════════════════════════════════════
         ELEMENT 2 — Decision: Is Opportunity Approved?
    ═══════════════════════════════════════════ -->

    <decisions>
        <name>decisionIsApproved</name>
        <label>Is Opportunity Approved?</label>
        <locationX>176</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>screenErrorNotApproved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>outcomeIsApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getExistingContract</targetReference>
            </connector>
            <label>Yes — Approved</label>
        </rules>
    </decisions>

    <!-- ═══════════════════════════════════════════
         ELEMENT 3 — Get Existing Active Contract
    ═══════════════════════════════════════════ -->

    <recordLookups>
        <name>getExistingContract</name>
        <label>Get Existing Active Contract</label>
        <locationX>176</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionContractExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Advertising_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- ═══════════════════════════════════════════
         ELEMENT 4 — Decision: Active Contract Already Exists?
    ═══════════════════════════════════════════ -->

    <decisions>
        <name>decisionContractExists</name>
        <label>Active Contract Already Exists?</label>
        <locationX>176</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>screenSignatoryDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — Proceed</defaultConnectorLabel>
        <rules>
            <name>outcomeContractExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingContract.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenErrorContractExists</targetReference>
            </connector>
            <label>Yes — Block Duplicate</label>
        </rules>
    </decisions>

    <!-- ═══════════════════════════════════════════
         ELEMENT 5 — Screen: Signatory Details
         (pre-populated opportunity data shown read-only;
          user provides signatory name/title/email)
    ═══════════════════════════════════════════ -->

    <screens>
        <name>screenSignatoryDetails</name>
        <label>Step 1 of 2 — Signatory Details</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screenTermsAndPolicies</targetReference>
        </connector>
        <fields>
            <name>dispHeader</name>
            <fieldText>&lt;h2 style="font-size:16px;font-weight:bold;margin-bottom:4px;"&gt;Promote to Contract&lt;/h2&gt;&lt;p style="color:#444;margin-top:0;"&gt;Review the opportunity details below and enter the authorized signatory. Click &lt;strong&gt;Next&lt;/strong&gt; to set contract terms.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dispOppName</name>
            <fieldText>&lt;strong&gt;Opportunity:&lt;/strong&gt; {!getOpportunity.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dispDates</name>
            <fieldText>&lt;strong&gt;Campaign Dates:&lt;/strong&gt; {!getOpportunity.Start_Date__c} – {!getOpportunity.End_Date__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dispBudget</name>
            <fieldText>&lt;strong&gt;Total Contract Value:&lt;/strong&gt; {!getOpportunity.Total_Budget__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dispMarket</name>
            <fieldText>&lt;strong&gt;Market:&lt;/strong&gt; {!getOpportunity.Market__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputSignatoryName</name>
            <dataType>String</dataType>
            <fieldText>Signatory Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSignatoryName</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>inputSignatoryTitle</name>
            <dataType>String</dataType>
            <fieldText>Signatory Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <outputParameters>
                <assignToReference>varSignatoryTitle</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>inputSignatoryEmail</name>
            <dataType>String</dataType>
            <fieldText>Signatory Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <outputParameters>
                <assignToReference>varSignatoryEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Next: Contract Terms</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <!-- ═══════════════════════════════════════════
         ELEMENT 6 — Screen: Contract Terms and Policies
    ═══════════════════════════════════════════ -->

    <screens>
        <name>screenTermsAndPolicies</name>
        <label>Step 2 of 2 — Contract Terms</label>
        <locationX>176</locationX>
        <locationY>770</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createContract</targetReference>
        </connector>
        <fields>
            <name>dispTermsHeader</name>
            <fieldText>&lt;p style="color:#444;"&gt;Fill in contract terms, cancellation policy, and any make-good provisions. All fields are optional — they can be completed on the contract record after approval.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputContractTerms</name>
            <dataType>String</dataType>
            <fieldText>Contract Terms</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <outputParameters>
                <assignToReference>varContractTerms</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>inputCancellationPolicy</name>
            <choiceReferences>choiceStandard30</choiceReferences>
            <choiceReferences>choiceStandard60</choiceReferences>
            <choiceReferences>choiceNonCancellable</choiceReferences>
            <choiceReferences>choiceCustom</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cancellation Policy</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <outputParameters>
                <assignToReference>varCancellationPolicy</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>inputCancellationNoticeDays</name>
            <dataType>Number</dataType>
            <fieldText>Cancellation Notice Period (Days)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <outputParameters>
                <assignToReference>varCancellationNoticeDays</assignToReference>
                <name>value</name>
            </outputParameters>
            <scale>0</scale>
        </fields>
        <fields>
            <name>inputCancellationFeePercent</name>
            <dataType>Number</dataType>
            <fieldText>Cancellation Fee (%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <outputParameters>
                <assignToReference>varCancellationFeePercent</assignToReference>
                <name>value</name>
            </outputParameters>
            <scale>2</scale>
        </fields>
        <fields>
            <name>inputMakeGoodPolicy</name>
            <dataType>String</dataType>
            <fieldText>Make-Good Policy</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <outputParameters>
                <assignToReference>varMakeGoodPolicy</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>inputMakeGoodCredits</name>
            <dataType>Currency</dataType>
            <fieldText>Make-Good Credits</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <outputParameters>
                <assignToReference>varMakeGoodCredits</assignToReference>
                <name>value</name>
            </outputParameters>
            <scale>2</scale>
        </fields>
        <fields>
            <name>inputNotes</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <outputParameters>
                <assignToReference>varNotes</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Create Contract &amp; Submit for Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <!-- ═══════════════════════════════════════════
         ELEMENT 7 — Create Contract Record
    ═══════════════════════════════════════════ -->

    <recordCreates>
        <name>createContract</name>
        <label>Create Contract</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>submitForApproval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenErrorCreate</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>getOpportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency_Account__c</field>
            <value>
                <elementReference>getOpportunity.Agency_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>getOpportunity.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>getOpportunity.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Contract_Value__c</field>
            <value>
                <elementReference>getOpportunity.Total_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>getOpportunity.Market__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signatory_Name__c</field>
            <value>
                <elementReference>varSignatoryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signatory_Title__c</field>
            <value>
                <elementReference>varSignatoryTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signatory_Email__c</field>
            <value>
                <elementReference>varSignatoryEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Terms__c</field>
            <value>
                <elementReference>varContractTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Policy__c</field>
            <value>
                <elementReference>varCancellationPolicy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Notice_Days__c</field>
            <value>
                <elementReference>varCancellationNoticeDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Fee_Percent__c</field>
            <value>
                <elementReference>varCancellationFeePercent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make_Good_Policy__c</field>
            <value>
                <elementReference>varMakeGoodPolicy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make_Good_Credits__c</field>
            <value>
                <elementReference>varMakeGoodCredits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>varNotes</elementReference>
            </value>
        </inputAssignments>
        <object>Advertising_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <!-- ═══════════════════════════════════════════
         ELEMENT 8 — Submit for Approval
    ═══════════════════════════════════════════ -->

    <actionCalls>
        <name>submitForApproval</name>
        <label>Submit for Approval</label>
        <locationX>176</locationX>
        <locationY>1010</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>screenSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenErrorSubmit</targetReference>
        </faultConnector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>createContract</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <stringValue>Contract promoted from approved Opportunity via Promote to Contract flow.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Contract_Approval_Process</stringValue>
            </value>
        </inputParameters>
    </actionCalls>

    <!-- ═══════════════════════════════════════════
         ELEMENT 9 — Success Screen
    ═══════════════════════════════════════════ -->

    <screens>
        <name>screenSuccess</name>
        <label>Contract Created</label>
        <locationX>176</locationX>
        <locationY>1130</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dispSuccess</name>
            <fieldText>&lt;div style="text-align:center;padding:24px;"&gt;&lt;p style="font-size:36px;margin:0;"&gt;✓&lt;/p&gt;&lt;h2 style="color:#2e844a;margin-top:8px;"&gt;Contract Created &amp;amp; Submitted for Approval&lt;/h2&gt;&lt;p&gt;The advertising contract has been created and routed to the &lt;strong&gt;Contract Approvers&lt;/strong&gt; queue. You will receive a notification once it has been reviewed.&lt;/p&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <!-- ═══════════════════════════════════════════
         ERROR SCREENS
    ═══════════════════════════════════════════ -->

    <screens>
        <name>screenErrorNotApproved</name>
        <label>Cannot Promote — Not Approved</label>
        <locationX>440</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dispErrorNotApproved</name>
            <fieldText>&lt;div style="padding:16px;"&gt;&lt;h2 style="color:#c23934;"&gt;Cannot Create Contract&lt;/h2&gt;&lt;p&gt;This opportunity must be in &lt;strong&gt;Approved&lt;/strong&gt; status before it can be promoted to a contract.&lt;/p&gt;&lt;p&gt;Current status: &lt;strong&gt;{!getOpportunity.StageName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please route the opportunity through the standard approval process first, then return here.&lt;/p&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>screenErrorContractExists</name>
        <label>Cannot Promote — Contract Exists</label>
        <locationX>440</locationX>
        <locationY>530</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dispErrorContractExists</name>
            <fieldText>&lt;div style="padding:16px;"&gt;&lt;h2 style="color:#c23934;"&gt;Contract Already Exists&lt;/h2&gt;&lt;p&gt;An active contract already exists for this opportunity. Navigate to the &lt;strong&gt;Advertising Contracts&lt;/strong&gt; related list to view it.&lt;/p&gt;&lt;p&gt;To create a new contract, cancel the existing one first.&lt;/p&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>screenErrorCreate</name>
        <label>Error Creating Contract</label>
        <locationX>440</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dispErrorCreate</name>
            <fieldText>&lt;div style="padding:16px;"&gt;&lt;h2 style="color:#c23934;"&gt;Error Creating Contract&lt;/h2&gt;&lt;p&gt;The contract could not be saved. Error:&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;Please contact your Salesforce administrator if this issue persists.&lt;/p&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>screenErrorSubmit</name>
        <label>Contract Created — Approval Submission Failed</label>
        <locationX>440</locationX>
        <locationY>1010</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dispErrorSubmit</name>
            <fieldText>&lt;div style="padding:16px;"&gt;&lt;h2 style="color:#c23934;"&gt;Contract Created — Approval Submission Failed&lt;/h2&gt;&lt;p&gt;The contract record was created but could not be submitted for approval automatically.&lt;/p&gt;&lt;p&gt;Error: &lt;em&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;Please open the contract record and click &lt;strong&gt;Submit for Approval&lt;/strong&gt; manually.&lt;/p&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

</Flow>
